<a href="https://colab.research.google.com/github/robcarv/Data_science_alura/blob/master/EDA_Gorjetas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# importando base de dados

In [1]:
import pandas as pd

In [2]:
pd.read_csv('tips.csv')

     total_bill   tip dessert   day    time  size
0         16.99  1.01      No   Sun  Dinner     2
1         10.34  1.66      No   Sun  Dinner     3
2         21.01  3.50      No   Sun  Dinner     3
3         23.68  3.31      No   Sun  Dinner     2
4         24.59  3.61      No   Sun  Dinner     4
..          ...   ...     ...   ...     ...   ...
239       29.03  5.92      No   Sat  Dinner     3
240       27.18  2.00     Yes   Sat  Dinner     2
241       22.67  2.00     Yes   Sat  Dinner     2
242       17.82  1.75      No   Sat  Dinner     2
243       18.78  3.00      No  Thur  Dinner     2

[244 rows x 6 columns]

In [3]:
dados = pd.read_csv('tips.csv')

In [5]:
dados.head(10)

   total_bill   tip dessert  day    time  size
0       16.99  1.01      No  Sun  Dinner     2
1       10.34  1.66      No  Sun  Dinner     3
2       21.01  3.50      No  Sun  Dinner     3
3       23.68  3.31      No  Sun  Dinner     2
4       24.59  3.61      No  Sun  Dinner     4
5       25.29  4.71      No  Sun  Dinner     4
6        8.77  2.00      No  Sun  Dinner     2
7       26.88  3.12      No  Sun  Dinner     4
8       15.04  1.96      No  Sun  Dinner     2
9       14.78  3.23      No  Sun  Dinner     2

#Tradução

In [6]:
dados.columns

Index(['total_bill', 'tip', 'dessert', 'day', 'time', 'size'], dtype='object')

In [12]:
renomear = {
    'total_bill' : 'valor-da_conta',
    'tip' : 'gorjeta',
    'dessert' : 'sobremesa',
    'day' : 'dia_da_semana',
    'time' : 'hora_do_dia',
    'size' : 'total_de_pessoas'
}

In [13]:
type(dados)

pandas.core.frame.DataFrame

In [14]:
gorjetas = dados.rename(columns = renomear)

In [15]:
gorjetas.head()

   valor-da_conta  gorjeta  ... hora_do_dia total_de_pessoas
0           16.99     1.01  ...      Dinner                2
1           10.34     1.66  ...      Dinner                3
2           21.01     3.50  ...      Dinner                3
3           23.68     3.31  ...      Dinner                2
4           24.59     3.61  ...      Dinner                4

[5 rows x 6 columns]

In [18]:
gorjetas.sobremesa.unique()

array(['No', 'Yes'], dtype=object)

In [19]:
sim_nao = {
    'No' : 'Não',
    'Yes' : 'Sim'
}

In [20]:
gorjetas.sobremesa.map(sim_nao)

0      Não
1      Não
2      Não
3      Não
4      Não
      ...
239    Não
240    Sim
241    Sim
242    Não
243    Não
Name: sobremesa, Length: 244, dtype: object

In [21]:
gorjetas.head(10)

   valor-da_conta  gorjeta  ... hora_do_dia total_de_pessoas
0           16.99     1.01  ...      Dinner                2
1           10.34     1.66  ...      Dinner                3
2           21.01     3.50  ...      Dinner                3
3           23.68     3.31  ...      Dinner                2
4           24.59     3.61  ...      Dinner                4
5           25.29     4.71  ...      Dinner                4
6            8.77     2.00  ...      Dinner                2
7           26.88     3.12  ...      Dinner                4
8           15.04     1.96  ...      Dinner                2
9           14.78     3.23  ...      Dinner                2

[10 rows x 6 columns]

In [22]:
gorjetas.sobremesa = gorjetas.sobremesa.map(sim_nao)

In [23]:
gorjetas.head(10)

   valor-da_conta  gorjeta  ... hora_do_dia total_de_pessoas
0           16.99     1.01  ...      Dinner                2
1           10.34     1.66  ...      Dinner                3
2           21.01     3.50  ...      Dinner                3
3           23.68     3.31  ...      Dinner                2
4           24.59     3.61  ...      Dinner                4
5           25.29     4.71  ...      Dinner                4
6            8.77     2.00  ...      Dinner                2
7           26.88     3.12  ...      Dinner                4
8           15.04     1.96  ...      Dinner                2
9           14.78     3.23  ...      Dinner                2

[10 rows x 6 columns]

In [24]:
gorjetas.dia_da_semana.unique()

array(['Sun', 'Sat', 'Thur', 'Fri'], dtype=object)

In [25]:
dias = {
    'Sun' : 'Domingo',
    'Sat' : 'Sábado',
    'Thur' : 'Quinta',
    'Fri' : 'Sexta'
}

In [26]:
gorjetas.dia_da_semana = gorjetas.dia_da_semana.map(dias)

In [27]:
gorjetas.head(10)

   valor-da_conta  gorjeta  ... hora_do_dia total_de_pessoas
0           16.99     1.01  ...      Dinner                2
1           10.34     1.66  ...      Dinner                3
2           21.01     3.50  ...      Dinner                3
3           23.68     3.31  ...      Dinner                2
4           24.59     3.61  ...      Dinner                4
5           25.29     4.71  ...      Dinner                4
6            8.77     2.00  ...      Dinner                2
7           26.88     3.12  ...      Dinner                4
8           15.04     1.96  ...      Dinner                2
9           14.78     3.23  ...      Dinner                2

[10 rows x 6 columns]

In [28]:
gorjetas.dia_da_semana.unique()

array(['Domingo', 'Sábado', 'Quinta', 'Sexta'], dtype=object)

In [29]:
gorjetas.hora_do_dia.unique()

array(['Dinner', 'Lunch'], dtype=object)

In [30]:
hora = {
    'Dinner' : 'Jantar',
    'Lunch' : 'Almoço'
}

In [31]:
gorjetas.hora_do_dia = gorjetas.hora_do_dia.map(hora)

In [32]:
gorjetas.head(10)

   valor-da_conta  gorjeta  ... hora_do_dia total_de_pessoas
0           16.99     1.01  ...      Jantar                2
1           10.34     1.66  ...      Jantar                3
2           21.01     3.50  ...      Jantar                3
3           23.68     3.31  ...      Jantar                2
4           24.59     3.61  ...      Jantar                4
5           25.29     4.71  ...      Jantar                4
6            8.77     2.00  ...      Jantar                2
7           26.88     3.12  ...      Jantar                4
8           15.04     1.96  ...      Jantar                2
9           14.78     3.23  ...      Jantar                2

[10 rows x 6 columns]